{% extends 'base.html.twig' %}
{% block contenu %}
        <center>
        <h1> AJOUT D'UNE ENTREPRISE </h1>

    <div class="row">
        <div class="col-md-12">
            {{ form_start ( vueFormulaireEntreprise, { 'attr': { 'novalidate': 'novalidate' }} ) }}
                {{ form_row ( vueFormulaireEntreprise.nom )}}
                {{ form_row ( vueFormulaireEntreprise.activite )}}
                {{ form_row ( vueFormulaireEntreprise.adresse )}}
                {{ form_row ( vueFormulaireEntreprise.urlsite )}}
                <button type="submit" class="btn btn-dark"> Valider </button>
            {{ form_end ( vueFormulaireEntreprise )}}

        </div>    
    </div>

{% endblock %}