{% extends 'base.html.twig' %}
{% block contenu %}
        <h1> AJOUT DE STAGE </h1>

    <div class="row">
        <div class="col-md-12">
            {{ form_start ( vueFormulaireStage) }}
                {{ form_row ( vueFormulaireStage.titre )}}
                {{ form_row ( vueFormulaireStage.description )}}
                {{ form_row ( vueFormulaireStage.emailContact )}}
                {{ form_row ( vueFormulaireStage.entreprises )}}
                {{ form_row (vueFormulaireStage.formations )}}
                <button type="submit" class="btn btn-dark"> Valider </button>
            {{ form_end ( vueFormulaireStage )}}

        </div>    
    </div>

{% endblock %}