{% extends 'base.html.twig' %}

{% block contenu %}
    
    <h1 style="color:green"> <b><u><center> Bienvenue sur la page d'accueil de ProStage </b></u></h1>

    <div class="row">
        <div class="col-md-2 offset-md-9">
            <div style="text-align:center;">
                <a style="color:green;" href="{{path('pro_stage_nouveau_stage')}}"> 
                    <i class="icon-plus-circled"></i>
                    <b>Nouveau stage</b> 
                </a>
            </div>
        </div>
    </div>

    <table class="table table-hover" style="margin-bottom:25px;">
        <thead>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <td style="font-size:25px; color:green; text-align:center;"><b><u>Titre du stage</u></b></td>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <td style="font-size:25px; color:green; text-align:center;"><b><u>Descriptif du stage</u></b></td>
                    </div>
                </div>
            </tr>
        </thead>

        {% for stageCourant in stagesAvecEntreprise %}
            <tbody>
                <tr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <td style="text-align:center;">
                                <a style="color:green;" href="{{path('pro_stage_stages', {id:stageCourant.id})}}">
                                    {{ stageCourant.titre }} proposé par {{stageCourant.entreprises.nom}}
                                </a>
                            </td> 
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <td style="text-align:center;">
                                <a style="color:green;" href="{{path('pro_stage_stages', {id:stageCourant.id})}}">
                                    {{ stageCourant.description }}
                                </a>
                            </td>
                        </div>
                    </div>
                </tr>
            </tbody>
            {% endfor %}
    </table>
{% endblock %}
